@model IdentityRole

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Roles</h1>
<form asp-action="Create" >

    <partial name="PartialViews/CreateEditRolePartialView" />

    <input type="submit" value="Submit" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-secondary">Back To List</a>

</form>

@section ValidationScriptSection
{
    <partial name="_ValidationScriptsPartial" />
}
